<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>17D6D6F0-5CE6-46CE-AA53-923FFB64A2A1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wx</string>
			<key>text</key>
			<string>weixin</string>
			<key>url</key>
			<string>http://weixin.sogou.com/weixin?type=2&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1E5891D9-51EA-494D-92E2-6F36ED923520</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>taobao</string>
			<key>url</key>
			<string>http://s.taobao.com/search?oe=utf-8&amp;f=8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>44D675A2-3EB8-4DD0-B46F-42B0FF135B16</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dash</string>
			<key>text</key>
			<string>dash</string>
			<key>url</key>
			<string>dash://{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>526572E4-C8B6-494D-AD41-47C76AB9C5D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>baidu</string>
			<key>url</key>
			<string>https://www.baidu.com/s?ie=utf-8&amp;f=8&amp;rsv_bp=1&amp;ch=&amp;tn=baiduerr&amp;bar=&amp;wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7CA7ED64-A6FA-40A5-98EB-C7175DE0E075</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>京东</string>
			<key>url</key>
			<string>http://search.360buy.com/Search?keyword={query}&amp;enc=utf-8&amp;area=15</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AA57CDF3-3CEE-4CD7-9F64-EED9E25C3070</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DBA17E58-9152-406A-9815-83F0BF229BCC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sof</string>
			<key>text</key>
			<string>StackOverflow</string>
			<key>url</key>
			<string>http://www.stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
